.btn,
button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-color: var(--gray-12);
  border-radius: var(--radius-5);
  border: 0;
  color: var(--gray-0);
  display: inline-block;
  font-family: 'Satoshi-Bold';
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: var(--size-2) var(--size-4);
  text-decoration: none;
  transition: backgound-color .2s var(--ease-in-out-3);

  &:hover {
    background-color: var(--gray-8);
  }

  &:active {
    background-color: var(--gray-4);
    color: var(--gray-12);
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

}

.btn-plain {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}