@import "open-props/style";
@import './_buttons';
@import './_stacks';
@import './_fonts';

// :root {
//   gap: var(--size-5);
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--font-sans);
  font-family: 'Satoshi-Bold';
}

html,
body {
  height: 100%;
  color: var(--gray-2);
  background-color: var(--gray-12);

}

.panel {
  padding: var(--size-3) var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--gray-9);
}