@import "open-props/style";
@import './_buttons';
@import './_stacks';
@import './_fonts';

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --brand: #ff00ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  height: 100%;
  color: var(--gray-2);
  background-color: var(--gray-12);

}

body {
  font-family: 'Satoshi-Bold';
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

a {
  color: var(--brand);
}

.panel {
  padding: var(--size-3) var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--gray-9);
}

input:not([type=range], [type=color]),
textarea {
  width: 100%;
  background-color: var(--gray-12);
  color: var(--gray-0);
  padding: var(--size-2);
  font-size: var(--font-size-4);
  line-height: 1.2;
  border-radius: var(--radius-2);
  border: 0;
  font-family: 'Satoshi-Bold';
}

input:not([type=range], [type=color]):focus,
textarea:focus {
  outline: 1px solid var(--gray-8);
}